#container{
    padding: 10%;
}

#playbutton{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

#video{
    Width: 1024.0px;
    Height: 768.0px;
}

button{
    width: 100%;
}

body {
    background: black;
    color:#CCCCCC; 
  }
  #c2 {
    background-image: url(media/foo.png);
    background-repeat: no-repeat;
  }
  div {
    float: left;
    border :1px solid #444444;
    padding:10px;
    margin: 10px;
    background:#3B3B3B;
  }